html, body {
	width: 100%;
	height:100%;
	min-width: 1140px;
}

ul li {
	margin: 0;
}

.menu-top > ul > li > ul > li span {
	padding: 0;
	text-align: left;
}
.menu-top > ul > li {
	padding: 0 0px 15px;
}
.menu-top > ul > li > a > span {
	font-weight: 100;
	font-family: 'Proxima Nova';
}
.menu-top > ul > li:last-child {
	padding: 0 0px 15px;
}
.menu-top > ul > li:first-child {
	padding: 0 17px 2px
}
.menu-top > ul > li:hover > ul, .menu-top > ul > li > ul:hover {
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:    0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow:         0px 1px 5px 0px rgba(0, 0, 0, 0.25);
}
.menu-top > ul > li.finance > a span,
.menu-top > ul > li.finance > a:hover span {
	padding: 4px 35px 4px 50px;
	font-weight: lighter;
}
.menu-top > ul > li.insurance > a span,
.menu-top > ul > li.insurance > a:hover span {
	padding:4px 15px 4px 56px;
	font-weight: lighter;
}
.menu-top > ul > li.trip > a span,
.menu-top > ul > li.trip > a:hover span {
	padding:4px 15px 4px 54px;
	font-weight: lighter;
}
.menu-top > ul > li.mobile > a span,
.menu-top > ul > li.mobile > a:hover span {
	padding:4px 15px 4px 40px;
	font-weight: lighter;
}
.menu-top > ul > li:first-child > a {
}
.menu-top > ul > li .navColumn ul li {
	display: block;
	padding: 5px 25px 5px 0;
	border-top: 1px solid #093c91;
	height: 45px;
	width: 160px;
	text-align: left;
}
.menu-top > ul > li.finance .navColumn ul li:first-child {
	margin-top: 45px;
}
.menu-top > ul > li.finance > ul {
	min-width: 460px;
}
header .welcome {
	font-weight: 100;
	font-size: 14px;
	letter-spacing: .8px;
}
.header-container {
	border: 0;
	box-shadow: 0 5px 10px transparent;
	background: transparent;
	min-width: 1080px;
}
input[type="radio"] {
	display: inline-block;
	color:#093c91;
}
section.mobileSection {
	width:999px;
	min-width: 999px;
	position: relative;
	margin:20px auto;
	height: auto;
	display: block;
	overflow: visible;
}
section.mobileSection .compact .wrapper {
	width: 100%;
	margin: 0;
}
section.mobileSection .compact {
	position: relative;
	display: block;
	width: 100%;
}
.main-container section.mobileSection .compact h1 {
	padding: 2px 0 10px 0px;
	letter-spacing: 1.3px;
}
section.mobileSection .compact figure {
	float: right;
	width: auto;
	position: relative;
	position: absolute;
	top: 3px;
	right: 0;
}
section.mobileSection .compact figure p {
	display: inline-block;
	padding-right: 8px;
	font-weight: lighter;
	letter-spacing: 1.5px;
	font-size: 16px;
}
section.mobileSection .compact figure input {
	width: 225px;
	height: 36px;
	border-radius: 4px;
	border: 3px solid #ccc;
	display: inline-block;
	color:#000;
	text-align: left;
	padding:5px 10px;
}
section.mobileSection .compact figure:after {
	content: "\f002";
	font-size: 20px;
	right:10px;
	bottom: 6px;
	position: absolute;
	color:#ff6300;
	font-family: 'FontAwesome';
}
section nav.controlBox {
	width: 990px;
	height: 288px;
	position: relative;
	display: block;
}

nav.controlBox article {
	display: none;
	border: 1px solid #ff6300;
	border-radius: 4px;
	background: #fff;
	height:165px;
	padding-bottom: 5px;
	-webkit-box-shadow: inset 0px -1px 5px 0px rgba(0, 0, 0, 0.85);
	-moz-box-shadow:    inset 0px -1px 5px 0px rgba(0, 0, 0, 0.85);
	box-shadow:         inset 0px -1px 5px 0px rgba(0, 0, 0, 0.85);
}
nav.controlBox article.selected {
	display:block;
}

section nav.controlBox div article > p {
	padding: 5px 20px;
	padding-top: 20px;
	color: #4b6f8f;
	font-weight: 100;
	font-size: 16px;
	font-family: 'Proxima Nova';
}

nav.controlBox figure p {
	color: #00a1ff;
	font-size: 17px;
	letter-spacing: .8px;
	font-weight: 100;
	margin: 0;
	margin-bottom: 5px;
}
nav.controlBox figure {
	margin: 0;
	position: relative;
	display: inline-block;
	width: auto;
	border-right: 1px solid rgba(0,0,0, 0.1);
	vertical-align: top;
	padding: 10px 20px;
}
nav.controlBox figure select {
	border: 2px solid #1e4d9a;
	color: #1e4d9a;
	line-height: 35px;
	height: 35px;
	margin-top: 5px;
}
nav.controlBox figure select span {
	color:#ccc;
}
nav.controlBox figure select.traffic {
	margin-top: 0;
	width: 230px;
}
nav.controlBox figure:nth-child(4) {
	border-right: 0;
}
nav.controlBox figure:nth-child(4) p {
	padding-bottom: 5px;
}
nav.controlBox figure:nth-child(4) > span {
	width:60px;
	margin-top: 2px;
}
nav.controlBox figure span {
	position: relative;
	font-size: 14px;
	font-family: 'Proxima Nova';
	font-weight: lighter;
	color:#4b6f8f;
	line-height: 14px;
	padding: 5px;
	padding-left: 10px;
	margin-top:0px;
	cursor: pointer;
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-ms-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;

}
nav.controlBox figure.radioSelector.device span {
	margin-top: 5px;
}
nav.controlBox figure input,
nav.controlBox figure.radioSelector span:before {
	vertical-align: -webkit-baseline-middle;
}
nav.controlBox figure:nth-child(3) span:before {
	bottom: 10px;

}
nav.controlBox figure.radioSelector span:before {
	content:"\f10c";
	font-size: 18px;
	position: absolute;
	left:-15px;
	font-family: 'FontAwesome';
	cursor: pointer;
}
nav.controlBox figure.radioSelector .active + span:before {
	content: '\f192';
	color:#25a22f;
} 
nav.controlBox figure.radioSelector .active + span {
	color:#25a22f;
}
nav.controlBox figure input {
	visibility: hidden;
	cursor: pointer;
	z-index: 100;
}
nav.controlBox footer {
	left: -5px;
	color: #fff;
	background-color: #ff6300;
	position: absolute;
	vertical-align: top;
	width: 990px;
	bottom: -75px;
	min-height: 0px;
	font-weight: lighter;
	letter-spacing: .9px;
	padding: 10px 10px;
	border:5px solid #ff6300;
}

nav.controlBox footer a {
	padding: 0;
	margin-top: 3px;
	background: transparent;
	width: auto;
	display: inline-block;
	float: right;
	font-weight:lighter;
	text-align: right;
	letter-spacing: .9px;
	text-decoration: underline;
	cursor: pointer;
	vertical-align: -webkit-baseline-middle;

}
nav.controlBox footer p {
	display: inline-block;
	float: left;
	font-family: 'Proxima Nova';
}
nav.controlBox footer p select {
	width:auto;
	height: 30px;
	color:#1e4d9a;
	border: 1px solid #c1d6e6;
	font-weight: 400;
	margin: 0 3px;
}
nav.controlBox ul {
	width: 100%;
	height:auto;
	overflow: hidden;
}

nav.controlBox ul a.ember-view,
nav.controlBox ul a.ember-view li {
	display: inline-block;
	padding: 12px 23px;
	width: auto;
	font-family: 'Proxima Nova';
	background-color: #00abff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: 400;
	color: #fff;
	letter-spacing: .6px;
	cursor: pointer;
	font-size: 16px;
}
nav.controlBox ul a.ember-view {
	margin-left: 1px;
	padding: 0;
}
nav.controlBox ul a.ember-view:first-child {
	margin-left: 0;
}
nav.controlBox ul a.ember-view.active li {
	background-color: #ff6300;
}
nav.controlBox div {
	border:5px solid #ff6300;
	border-top-right-radius: 5px;
	background: #ff6300;
}

div.mobileTable {
	width: 990px;
	left: 9px;
	padding: 0;
	margin: 0;
	position: relative;
	float: left;
	display: none;
	background: #fff;

}
div.mobileTable.selected {
	display: block;
	padding-bottom: 100px;
}
div.mobileTable header ul li {
	text-align: center;
	list-style: none;
	height: 31px;
	font-size: 11px;
	line-height: 31px;
	border: 1px solid #ccc;
	color:#093c91;
	border-right:0;
	background: -moz-linear-gradient(top, #ffffff 0%, #dae6ef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dae6ef));
	background: -webkit-linear-gradient(top, #ffffff 0%, #dae6ef 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #dae6ef 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #dae6ef 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #dae6ef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dae6ef', GradientType=0);

}
div.mobileTable header ul li.secondRow {
	border-top: 0;
	border-bottom: 0;
	background: #B0C4D6;
	color:#fff;
	font-size: 20px;
	line-height: 20px;
	border-left: 1px solid #fff;
}
div.mobileTable header ul li.firstItem {
	border-left:1px solid #ccc;
	content: ' ';

}
div.mobileTable header ul li.firstItem i {
	opacity: 0;
}

div.mobileTable header ul li.lastItem {
	border-right:1px solid #ccc;
}
div.mobileTable article,
div.mobileTable header {
	width: auto;
	height: auto;
	display: block;
	float: left;
	overflow: visible;
}

div.mobileTable footer {
	font-size: 20px;
	opacity: 1;
	color:#093c91;
	min-height: 40px;
	line-height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background: 0;
	border-right:2px solid #fff;
	border-top: 1px solid #ccc;
	box-sizing: content-box;
}
div.mobileTable footer button {
	float: right;
	width: 200px;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: -20px;
	box-shadow: 0;
	border: 0;
	color: #fff;
	border-bottom-right-radius:10px;
	border-top-right-radius:10px;
	background-color: #ff6300;
}
div.mobileTable footer i {
	padding-left: 21px;
	font-size: 20px;
	vertical-align: middle;
	cursor: pointer;
}
div.mobileTable footer p {
	display: inline;
	font-size: 16px;
	padding-bottom: 3px;
}
div.mobileTable article:nth-child(odd) footer {
	border-right: 1px solid #eef4f7;
}

div.mobileTable header ul,
div.mobileTable article ul {
	width: 970px;
	margin-top: 10px;
	margin-bottom: 0;
	margin-left: 10px;
	padding: 0px 0;
	position: relative;
	height: auto;
	font-size: 0;
	overflow: visible;
}
div.mobileTable article ul {
	margin-top: 0;
}

div.mobileTable article ul li {
	height:300px;
	list-style: none;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
div.mobileTable article ul li:last-child {
	border-right: 1px solid #ccc;
}
div.mobileTable article:nth-child(odd) ul {
	background: #eef4f7;
}
div.modem article,
div.modem article ul,
div.modem article ul li {
	height:606px;
}

div.smart article,
div.smart article ul,
div.smart article ul li {
	height:480px;
}
figure.partner {
	font-size: 13px;
	color:#1e4d9a;
	width: 90%;
	text-align: left;
	position: relative;
	height: 200px;
	margin: 50px auto;
	font-family: 'Proxima Nova';
}

figure.partner h4 {
	margin-left: 5px;
	display: inline;
	padding-bottom: 2px;
	border-bottom: 1px solid #ccc;
	font-family: 'Proxima Nova';
}
figure.partner p {
	display: block;
	float: left;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 3px;
	letter-spacing: 0.4px;
	line-height: 22px;
	width:120px;
}
figure.partner span {
	display: block;
	float: left;
	margin-top: -4px;
	margin-left: 5px;
	font-size: 11px;
	text-align: left;
	cursor: pointer;
	color: #ff6300;
	font-family: 'Proxima Nova';
	width: 140px;
}
figure.partner span:hover {
	border-bottom: 1px dashed #ff6300;
}
figure.partner img {
	width: auto;
	height: 50px;
	float: left;
	margin: 5px;
	border-radius: 5px;
	margin-right: 12px;
	margin-top: 1px;
}

figure.partner div {
	margin-top: 10px;
	float: left;
	position: relative;
	left: 5px;
	font-weight: 100;
	letter-spacing: 0.7px;
	font-family: 'Proxima Nova';

}
figure.time {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 12px;
}
div.mobileTable .col-md-5,
div.mobileTable .col-md-2,
div.mobileTable .col-md-3 {
	padding: 0;
}

figure.time div:after {
	content: ' ';
	width:100%;
	position: absolute;
	bottom: 0;
	height: 1px;
	background: #ccc;
	opacity: 0.8;
}
figure.time div {
	height: auto;
	width: 100%;
	font-family: 'Proxima Nova';
	position: relative;
	float: left;
}
figure.time div > p {
padding-top: 7px;
padding-left: 21px;
margin-bottom: 5px;
color:#ff6300;
font-size: 13px;
font-weight: 600;
}
figure.time div section,
figure.sms section  {
	padding: 5px;
	padding-left: 21px;
	vertical-align: top;
	width: 100%;
	height: auto;
	color:#093c91;
}
figure.sms section {
	padding-top: 11px;
	padding-left: 11px;
}
figure.time div section i,
figure.sms section i {
	font-size: 16px;
	padding: 2px 3px;
}
figure.time div section span,
figure.sms section span {
	font-size: 19px;
	line-height: 18px;
}
figure.time div section p,
figure.sms section p {
	vertical-align: middle;
	padding-left: 0px;
	margin:0;
	width:80%;
	font-size: 14px;
	display: inline-block;
}

.col-md-2 figure.sms section p,
.col-md-2 figure.time div section p,
.col-md-3 figure.time div section p  {
	padding-left: 0;
}
.col-md-2 figure.time section p {
	padding: 0;
}

.col-md-2 figure.time div:after {
	opacity: 0;
}
.col-md-2 figure.time div,
.col-md-3 figure.time div,
.col-md-5 figure.time.pda div {
	height: auto;
}
figure.sms section p {
	font-size: 14px;
	width: 76%
}
figure.time div section p + p,
figure.pda div section p {
	padding-left: 0px;
	color:#000;
	opacity: 0.6;
}
figure.time div section p + p {
	padding-top: 10px;
}
figure.time div + div {
	height:90px;
}

figure.time div:last-child::after {
	opacity: 0;
}
figure.time h4 {
	padding-left: 20px;
	color: #093c91;
	font-size: 16.6px;
	font-family: 'ProximaNova-Semibold';
}
figure.sms {
	font-size: 12px;
	color:#093c91;
	width: 95%;
	margin:5px auto;
	margin-right: 0;
	margin-top: 25%;
	font-family: 'Proxima Nova';
}

figure div p.green {
	color:#25a22f
}
figure.time.pda p i {
	font-size: 14px;
	color:#093c91;
	font-weight: 100;
}

figure.time.pda h4 span {
	font-size: 14px;
	color:#093c91;
	font-weight: 100;
}
figure.time.pda aside {
	position: absolute;
	color:#000;
	opacity: 0.6;
	border-bottom: 1px dashed #000;
	cursor: pointer;
	right: 5px;
	bottom: 5px;
}
.mobileTable .col-md-4 {
	width:285px;
}
.mobileTable .col-md-5 {
	width:407px;
}
.mobileTable .col-md-3 {
	width:277px;
}

.mobileTable.smart .col-md-3 {
	width:209px;
}
.mobileTable.smart .col-md-2 {
	width:157px;
}

.mobileTable.smart .col-md-5 {
	width:317px;
}

.mobileTable.smart figure.time div:after {
	background:#fff;
}
.mobileTable.modem .col-md-5 {
	width:352px;
}

.mobileTable.modem .col-md-3 {
	width:183px;
}

.mobileTable.modem .col-md-2 {
	width:150px;
}
figure.time.pda aside:hover {
	opacity: 0.8
}
.smart article ul li:nth-child(2) footer {
	min-width: 310px;
	background: #fff;
}

div.mobileTable article:nth-child(odd) ul li:nth-child(2) footer {
	background-color: #eef4f7;
}

div.mobileTable article:nth-child(odd) ul li {
	background-color: #eef4f7;
}
div.mobileTable i.fa.fa-rouble {
	font-size: 15.7px;
}
figure.time div section h4,
figure div span,
figure section span {
	font-size: 18px;
	font-family: 'ProximaNova-Semibold';
}