
        <article class="selected">
                    <p>Тарифы с оплатой за минуты и количество отправленных смс. Без интернета.</p>
                    <figure class="basicSelector">
                        <p>Куда вы звоните</p>
                        <div class="btn-group">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Выберите подходящие опции <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            {{#link-to 'phone' (query-params network='inside')}}
                            <li>На мобильные и городские (Внутри сети)</li>
                            {{/link-to}}
                            {{#link-to 'phone' (query-params network='outside')}}
                            <li>На мобильные и городские (Вне сети)</li>
                            {{/link-to}}
                            {{#link-to 'phone' (query-params network='roaming')}}
                            <li>На мобильные и городские (В роуминге)</li>
                            {{/link-to}}
                          </ul>
                        </div>
                    </figure>
                    <figure class="radioSelector">
                            <p>Продолжительность звонка (мин.)</p>
                            {{#link-to 'phone' (query-params callTime='1') action="sortPhone" }}
                            <input type="radio" name="callTime">
                            <span>Мало <br /> 1-5 мин.</span>
                            {{/link-to}}
                            {{#link-to 'phone' (query-params callTime="5") action="sortPhone" }}
                            <input type="radio" name="callTime">
                            <span>Средне <br /> 5-10 мин.</span>
                            {{/link-to}}
                            {{#link-to 'phone' (query-params callTime='10') action="sortPhone" }}
                            <input type="radio" name="callTime">
                            <span>Много <br /> 10 мин. и более</span>
                            {{/link-to}}
                    </figure>
                    <figure class="radioSelector">
                            <p>Количество СМС (в месяц)</p>
                            {{#link-to 'phone' (query-params smsQuantity='50')}}
                            <input type="radio" name="smsQuantity">
                            <span>50</span>
                            {{/link-to}}
                            {{#link-to 'phone' (query-params smsQuantity='100')}}
                            <input type="radio" >
                            <span>100</span>
                            {{/link-to}}
                            {{#link-to 'phone' (query-params smsQuantity='200')}}
                            <input type="radio" >
                            <span>200</span>    
                            {{/link-to}}
                    </figure>
        </article>