
        <article class="selected">
                    <p>Тарифы для интернета. Не подходят для частых звонков и смс.</p>
                    <figure class="radioSelector device">
                            <p>Устройство</p>
                            {{#link-to 'modem' (query-params deviceType='pda')}}
                            <input type="radio" name="callTime">
                            <span>Планшет</span>
                            {{/link-to}}
                            {{#link-to 'modem' (query-params deviceType='stick')}}
                            <input type="radio" name="callTime">
                            <span>USB - модем</span>
                            {{/link-to}}
                    </figure>
                    <figure class="basicSelector">
                        <p>Обьем Интернета</p>
                        <div class="btn-group" style="width:235px;">
                          <button type="button" class="btn btn-default dropdown-toggle" style="width:235px;" data-toggle="dropdown">
                            Выберите подходящие опции <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" style="width:235px;">
                            {{#link-to 'modem' (query-params internetQuantity='0.5')}}
                            <li>0.5 ГБ (почта и новости)</li>
                            {{/link-to}}
                            {{#link-to 'modem' (query-params internetQuantity='1')}}
                            <li>1 ГБ</li>
                            {{/link-to}}
                            {{#link-to 'modem' (query-params internetQuantity='2')}}
                            <li>2 ГБ</li>
                            {{/link-to}}
                          </ul>
                        </div>
                    </figure>
        </article>