        <article class="selected">
                    <p>Тарифы с пакетами минут, смс и интернета. Оплачиваются раз в месяц.</p>
                    <figure class="basicSelector">
                        <p>Куда вы звоните</p>
                        <div class="btn-group">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Выберите подходящие опции <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            {{#link-to 'smart' (query-params network='inside')}}
                            <li>На мобильные и городские (Внутри сети)</li>
                            {{/link-to}}
                            {{#link-to 'smart' (query-params network='outside')}}
                            <li>На мобильные и городские (Вне сети)</li>
                            {{/link-to}}
                            {{#link-to 'smart' (query-params network='roaming')}}
                            <li>На мобильные и городские (В роуминге)</li>
                            {{/link-to}}
                          </ul>
                        </div>
                    </figure>
                    <figure class="radioSelector">
                            <p>Продолжительность звонка (мин.)</p>
                            {{#link-to 'smart' (query-params callTime='1')}}
                            <input type="radio" name="callTime">
                            <span>Мало <br /> 1-5 мин.</span>
                            {{/link-to}}
                            {{#link-to 'smart' (query-params callTime="5")}}
                            <input type="radio" name="callTime">
                            <span>Средне <br /> 5-10 мин.</span>
                            {{/link-to}}
                            {{#link-to 'smart' (query-params callTime='10')}}
                            <input type="radio" name="callTime">
                            <span>Много <br /> 10 мин. и более</span>
                            {{/link-to}}
                    </figure>
                    <figure class="basicSelector">
                        <p>Обьем Интернета</p>
                        <div class="btn-group" style="width:235px;">
                          <button type="button" class="btn btn-default dropdown-toggle" style="width:235px;" data-toggle="dropdown">
                            Выберите подходящие опции <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" style="width:235px;">
                            {{#link-to 'smart' (query-params internetQuantity='0.5')}}
                            <li>0.5 ГБ (почта и новости)</li>
                            {{/link-to}}
                            {{#link-to 'smart' (query-params internetQuantity='1')}}
                            <li>1 ГБ</li>
                            {{/link-to}}
                            {{#link-to 'smart' (query-params internetQuantity='2')}}
                            <li>2 ГБ</li>
                            {{/link-to}}
                          </ul>
                        </div>
                    </figure>
        </article>